body {
  font-family: "Roboto", sans-serif;
  min-width: 320px;
  margin: 0 auto;
}

/*Header styles start*/
.header {
  background-color: white;
  height: 72px;
  top: 0;
  width: 100%;
  position: fixed;
  z-index: 2; 
}
.header > .container {
  height: 100%;
}
.header > .container > .row {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.rightmenu {
  display: flex;
}
.rightmenu > button {
  color: #1d1d1d;
  width: 78px;
  height: 100%;
  font-weight: 500;
  font-size: 13px;
  line-height: 24px;
}
/*Header styles end*/
/*Content header styles start*/
.content_header {
  background: #ffffff;
  box-shadow: 0px 0px 16px rgba(117, 117, 117, 0.2);
  border-radius: 2px;
}
.name {
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 42px;
  color: #1d1d1d;
}
.currency {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  color: #626262;
}
.time {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 15px;
  color: #ffffff;
  height: 16px;
}
/*Content header styles end*/
/*Food_menu styles start*/
.menu_header {
  font-style: normal;
  font-weight: normal;
  font-size: 22px;
  line-height: 34px;
  color: #1d1d1d;
}
/*Food_menu styles end*/
/*Menu styles start*/
.card {
  display: flex;
  flex-direction: row;
}
/*Menu styles end*/
/*Footer styles start*/
.footer {
  background-color: #262626;
}
hr {
  height: 0.1px;
  background: #ffffff;
  mix-blend-mode: normal;
  opacity: 0.4;
}
.language > select {
  background-color: #3b3b3b;
  border: none;
  border-radius: 2px;
}
span {
  color: #49a144;
  margin-right: 1px;
}
/*Footer styles end*/

/*@MEDIA*/
/*LG pc*/
@media screen and (min-width: 1124px) {
  /*Header media start*/
  .logo {
    margin-left: 81px;
  }
  .login {
    margin-right: 27px;
  }
  .basket {
    margin-right: 97.05px;
  }
  /*Header media end*/
  /*Content header media start*/
  .content {
    top: 72px;
    position: absolute;
    background-image: url("../images/pushkin/header_background_pc.jpg");
    background-repeat: no-repeat;
    background-position-x: center;
    background-size: 100%;
    width: 100%;
  }
  .content_header {
    width: 389px;
    height: auto;
    margin-left: 73px;
    margin-top: 80px;
    margin-bottom: 80px;
  }
  .name {
    padding-left: 38px;
    padding-right: 38px;
    padding-top: 38px;
  }
  .lower_title {
    display: flex;
    flex-direction: row;
  }
  .currency {
    padding-left: 38px;
    padding-top: 62px;
    padding-bottom: 46px;
  }
  .time {
    display: flex;
    padding: 8px 16px 8px 16px;
    background: #262626;
    border-radius: 16px;
    margin-top: 54px;
    margin-left: 66px;
    align-items: center;
    margin-bottom: 38px;
  }
  /*Content header media end*/
  /*Food menu media start*/
  .food_menu {
    margin-top: 468px;
    border-bottom: solid 1px rgba(0, 0, 0, 0.1);
    padding-bottom: 29px;
  }
  .food_menu > .container {
    display: flex;
    flex-direction: row;
  }
  .item1 {
    margin-left: 81px;
  }
  .item1,
  .item2,
  .item3,
  .item4,
  .item5 {
    margin-right: 40px;
  }
  a:visited,
  a:focus,
  a {
    text-decoration: none;
    color: #626262;
    font-size: 16px;
    line-height: 19px;
    font-style: normal;
    font-weight: normal;
  }
  a:hover {
    color: #327430;
    transition: 0.2s;
  }
  .item1 > a {
    color: #327430;
  }
  .menu_header {
    margin-left: 81px;
    margin-top: 56px;
    margin-bottom: 32px;
  }
  .container>hr {
    display: none;
  }
  /*Food menu media end*/
  /*Menu media start*/
  .pic > a > img {
    display: flex;
    width: 170px;
    height: 160px;
  }
  .desc {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .card > .wrapper {
    width: 100%;
    display: flex;
    height: 160px;
    border: solid 1px #dbdbdb;
    border-radius: 2px;
  }
  .wrapper:nth-child(odd) {
    margin-right: 0px;
    margin-bottom: 49px;
  }
  .wrapper:hover {
    background-color: #e9e7e7;
  }
  .menu {
    margin-left: 81px;
    margin-right: 87px;
  }
  .menu a:visited,
  .menu a:focus,
  .menu a {
    text-decoration: none;
    color: #1d1d1d;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
  }
  .menu a:hover {
    color: cornflowerblue;
    transition: 0.6s;
  }
  .title {
    padding-top: 16px;
    padding-left: 16px;
  }
  .undertitle {
    padding-top: 4px;
    padding-left: 16px;
    color: #626262;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 21px;
  }
  .price {
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 21px;
    color: #1d1d1d;
    padding-left: 16px;
    padding-bottom: 16px;
  }
  /*Menu media end*/
  /*Footer media start*/
  footer {
    width: 100%;
    margin-top: 31px;
  }
  .footer > .container > .row > .logo {
    margin-left: 81.62px;
    margin-top: 56px;
    margin-bottom: 40.31px;
  }
  hr {
    width: 100%;
    margin-left: 81px;
    margin-right: 87px;
  }
  footer > .container > .row {
    display: flex;
  }
  .language {
    margin-top: 32px;
    margin-bottom: 33px;
  }
  select {
    width: 227px;
    height: 40px;
    font-size: 13px;
    line-height: 15px;
    color: #fff;
    padding: 12px 108px 12px 48px;
    background: url("/images/world.svg") no-repeat;
    background-position-x: 16px;
    background-position-y: center;
  }
  .footer > .container > .row > .footer_menu > .blockleft > a {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    color: #fff;
  }
  .blockleft {
    width: 227px;
    margin-left: 73px;
  }
  .social_menu {
    margin-top: 17px;
    margin-bottom: 14px;
  }
  .facebook,
  .twitter,
  .instagram {
    width: 24px;
    height: 24px;
  }
  .twitter {
    margin-left: 12px;
    margin-right: 8px;
  }
  .footer_menu {
    display: flex;
    flex-direction: row;
  }
  .blockmid {
    display: flex;
    flex-direction: column;
    margin-left: 73px;
    margin-top: 39px;
  }
  .footer > .container > .row > .footer_menu > .blockmid > a {
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 15px;
    color: #fff;
  }
  .blockright {
    display: flex;
    flex-direction: column;
    margin-left: 81px;
    margin-top: 39px;
    margin-bottom: 48px;
  }
  .footer > .container > .row > .footer_menu > .blockright > a {
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 15px;
    color: #fff;
  }
  .midsecond {
    margin-top: 23px;
    margin-bottom: 23px;
  }
  .secondtext {
    margin-top: 23px;
    margin-bottom: 23px;
  }
  .thirdtext {
    margin-bottom: 23px;
  }
  .download_menu {
    display: flex;
    flex-direction: row;
    margin-left: auto;
    margin-right: auto;
  }
  .apple {
    margin-left: 0;
    margin-top: 40px;
    margin-bottom: 34px;
  }
  .google {
    margin-left: 40.34px;
    margin-top: 41px;
    margin-bottom: 34px;
  }
  .bottom {
    display: flex;
    flex-direction: row;
  }
  .left {
    margin-left: 73px;
  }
  .mid {
    margin-left: 94px;
    margin-right: 64px;
  }
  .left > a,
  .mid > a,
  .right > a {
    font-style: normal;
    font-weight: normal;
    font-size: 11px;
    line-height: 13px;
    color: #fff;
  }
  .left,
  .mid,
  .right {
    margin-top: 40px;
    margin-bottom: 40px;
  }
  .button {
    width: 80px;
    height: 80px;
    position: fixed;
    bottom: 24px;
    right: 16px;
  }
  /*Footer media end*/
}

/*MD tablet*/
@media (max-width: 1123px) {
  /*Header media start*/
  .logo {
    margin-left: 8px;
  }
  .login {
    margin-right: 27px;
  }
  .basket {
    margin-right: 16px;
  }
  /*Header media end*/
  /*Content header media start*/
  .content {
    top: 72px;
    position: absolute;
    background-image: url("../images/pushkin/header_background_md.png");
    background-repeat: no-repeat;
    background-position-x: center;
    background-size: 100%;
    width: 100%;
  }
  .content_header {
    width: 432px;
    height: auto;
    margin-left: 8px;
    margin-top: 80px;
    margin-bottom: 80px;
  }
  .name {
    padding-left: 48px;
    padding-right: 68px;
    padding-top: 38px;
  }
  .lower_title {
    display: flex;
    flex-direction: row;
  }
  .currency {
    padding-left: 48px;
    padding-top: 62px;
    padding-bottom: 46px;
  }
  .time {
    display: flex;
    padding: 8px 16px 8px 16px;
    background: #262626;
    border-radius: 16px;
    margin-top: 54px;
    margin-left: 104px;
    margin-bottom: 38px;
    align-items: center;
  }
  /*Content header media end*/
  /*Food menu media start*/
  .food_menu {
    margin-top: 468px;
    border-bottom: solid 1px rgba(0, 0, 0, 0.1);
    padding-bottom: 29px;
  }
  .food_menu > .container {
    display: flex;
    flex-direction: row;
  }
  .item1 {
    margin-left: 8px;
  }
  .item1,
  .item2,
  .item3,
  .item4,
  .item5 {
    margin-right: 40px;
  }
  a:visited,
  a:focus,
  a {
    text-decoration: none;
    color: #626262;
    font-size: 16px;
    line-height: 19px;
    font-style: normal;
    font-weight: normal;
  }
  a:hover {
    color: #327430;
    transition: 0.2s;
  }
  .item1 > a {
    color: #327430;
  }
  .menu_header {
    margin-left: 8px;
    margin-top: 56px;
    margin-bottom: 32px;
  }
  .container>hr {
    display: none;
  }
  /*Food menu media end*/
  /*Menu media start*/
  .pic > a > img {
    display: flex;
    width: 200px;
    height: 160px;
  }
  .desc {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .card > .wrapper {
    width: 100%;
    display: flex;
    height: 160px;
    border: solid 1px #dbdbdb;
    border-radius: 2px;
  }
  .wrapper:nth-child(1) {
    margin-bottom: 32px;
  }
  .wrapper:hover {
    background-color: #e9e7e7;
  }
  .menu {
    margin-left: 8px;
    margin-right: 8px;
  }
  .menu a:visited,
  .menu a:focus,
  .menu a {
    text-decoration: none;
    color: #1d1d1d;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
  }
  .menu a:hover {
    color: cornflowerblue;
    transition: 0.6s;
  }
  .title {
    padding-top: 16px;
    padding-left: 24px;
  }
  .undertitle {
    padding-top: 4px;
    padding-left: 24px;
    color: #626262;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 21px;
  }
  .price {
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 21px;
    color: #1d1d1d;
    padding-left: 24px;
    padding-bottom: 16px;
  }
  /*Menu media end*/
  /*Footer media start*/
  footer {
    width: 100%;
    margin-top: 16px;
  }
  .footer > .container > .row > .logo {
    margin-left: 8px;
    margin-top: 56px;
    margin-bottom: 40px;
  }
  hr {
    width: 100%;
    margin-left: 8px;
    margin-right: 8px;
  }
  footer > .container > .row {
    display: flex;
  }
  .language {
    margin-top: 32px;
    margin-bottom: 32px;
  }
  select {
    width: 176px;
    height: 40px;
    font-size: 13px;
    line-height: 15px;
    color: #fff;
    padding: 12px 0px 12px 48px;
    background: url("/images/world.svg") no-repeat;
    background-position-x: 16px;
    background-position-y: center;
  }
  .footer > .container > .row > .footer_menu > .blockleft > a {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    color: #fff;
  }
  .social_menu {
    margin-top: 16px;
  }
  .facebook,
  .twitter,
  .instagram {
    width: 24px;
    height: 24px;
  }
  .twitter {
    margin-left: 12px;
    margin-right: 12px;
  }
  .footer_menu {
    display: flex;
    flex-direction: row;
  }
  .blockmid {
    display: flex;
    flex-direction: column;
    margin-left: 53px;
    margin-top: 39px;
  }
  .footer > .container > .row > .footer_menu > .blockmid > a {
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 15px;
    color: #fff;
  }
  .blockright {
    display: flex;
    flex-direction: column;
    margin-left: 51px;
    margin-top: 39px;
    margin-bottom: 48px;
  }
  .footer > .container > .row > .footer_menu > .blockright > a {
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 15px;
    color: #fff;
  }
  .midsecond {
    margin-top: 23px;
    margin-bottom: 23px;
  }
  .secondtext {
    margin-top: 23px;
    margin-bottom: 23px;
  }
  .thirdtext {
    margin-bottom: 23px;
  }
  .download_menu {
    display: flex;
    flex-direction: row;
    margin-left: auto;
    margin-right: auto;
  }
  .apple {
    margin-left: 0;
    margin-top: 40px;
    margin-bottom: 40px;
  }
  .google {
    margin-left: 39.73px;
    margin-top: 40px;
    margin-bottom: 40px;
  }
  .bottom {
    display: flex;
    flex-direction: row;
  }
  .left {
    margin-left: 8px;
  }
  .mid {
    margin-left: 30px;
    margin-right: 57px;
  }
  .left > a,
  .mid > a,
  .right > a {
    font-style: normal;
    font-weight: normal;
    font-size: 11px;
    line-height: 13px;
    color: #fff;
  }
  .left,
  .mid,
  .right {
    margin-top: 40px;
    margin-bottom: 40px;
  }
  .button {
    width: 80px;
    height: 80px;
    position: fixed;
    bottom: 28px;
    right: 16px;
  }
  /*Footer media end*/
}

/*XS mobile*/
@media (max-width: 767px) {
  .header {
    border-right: 1px dotted #1d1d1d;
    max-width: 100%;
  }
  /*Header media start*/
  .rightmenu > a {
    display: none;
  }
  .logo {
    margin-left: 8px;
  }
  .login {
    margin-right: 16px;
  }
  /*Header media end*/
  /*Content header media start*/
  .content {
    position: absolute;
    background-image: url("../images/pushkin/header_background_mobile.png");
    background-repeat: no-repeat;
    background-position-x: center;
    background-size: 100%;
    width: 100%;
    height: 255px;
  }
  .content_header {
    width: 308px;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    margin-top: 131px;
  }
  .name {
    text-align: center;
    padding-left: 0;
    padding-right: 0;
    padding-top: 24px;
    font-size: 24px;
    line-height: 28px;
  }
  .lower_title {
    display: flex;
    flex-direction: column;
  }
  .currency {
    text-align: center;
    padding-left: 0;
    padding-right: 0;
    padding-top: 40px;
    padding-bottom: 0px;
  }
  .time {
    display: flex;
    font-size: 12px;
    line-height: 14px;
    padding: auto;
    background: #262626;
    border-radius: 16px;
    margin-top: 16px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 24px;
    align-items: center;
  }
  /*Content header media end*/
  /*Food menu media start*/
  .food_menu {
    display: none;
  }
  .menu_header {
    display: flex;
    justify-content: center;
    margin-top: 439px;
    margin-bottom: 12px;
    margin-left: 0;
  }
  .container>hr {
    display: block;
    margin-right: auto;
    margin-left: auto;
    width: 50px;
    height: 1px;
    background: #757575;
    margin-bottom: 43px;
  }
  /*Food menu media end*/
  /*Menu media start*/
  .container > .menu > .row {
    margin-left: -4px;
    margin-right: -4px;
  }
  .pic > a > img {
    display: flex;
    width: 102px;
    height: 102px;
  }
  .desc {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .card > .wrapper {
    width: 100%;
    display: flex;
    height: 102px;
    border-top: none;
    border-right: none;
    border-left: none;
    border-bottom: solid 1px #dbdbdb;
    border-radius: 2px;
  }
  .wrapper:nth-child(1) {
    margin-bottom: 16px;
  }
  .wrapper:hover {
    background-color: #e9e7e7;
  }
  .menu {
    margin-left: 0px;
    margin-right: -4px;
  }
  .menu a:visited,
  .menu a:focus,
  .menu a {
    text-decoration: none;
    color: #1d1d1d;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
  }
  .title {
    padding-top: 0;
    padding-left: 0;
  }
  .undertitle {
    padding-left: 0;
    padding-top: 4px;
    color: #626262;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 21px;
  }
  .price {
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 21px;
    color: #1d1d1d;
    padding-left: 0px;
    padding-bottom: 16px;
  }
  /*Menu media end*/
  /*Footer media start*/
  .footer {
    margin-top: 24px;
    width: 100%;
  }
  .footer > .container > .row > .logo {
    margin-left: 8px;
    margin-top: 56px;
    margin-bottom: 31px;
  }
  hr {
    width: 100%;
    margin-left: 8px;
    margin-right: 8px;
  }
  footer > .container > .row {
    display: flex;
  }
  .language {
    margin-top: 32px;
    margin-bottom: 32px;
  }
  select {
    width: 176px;
    height: 40px;
    font-size: 13px;
    line-height: 15px;
    color: #fff;
    padding: 12px 0px 12px 48px;
    background: url("/images/world.svg") no-repeat;
    background-position-x: 16px;
    background-position-y: center;
  }
  .footer > .container > .row > .footer_menu > .blockleft > a {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    color: #fff;
  }
  .social_menu {
    margin-top: 16px;
  }
  .facebook,
  .twitter,
  .instagram {
    width: 24px;
    height: 24px;
  }
  .twitter {
    margin-left: 12px;
    margin-right: 12px;
  }
  .footer_menu {
    display: flex;
    flex-direction: column;
  }
  .blockmid {
    display: flex;
    flex-direction: column;
    margin-left: 0px;
    margin-top: 39px;
    max-height: 94px;
  }
  .blockleft {
    max-height: 170px;
  }
  .footer > .container > .row > .footer_menu > .blockmid > a {
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 15px;
    color: #fff;
  }
  .blockright {
    display: flex;
    flex-direction: column;
    margin-left: 0px;
    margin-top: 23px;
    margin-bottom: 40px;
    max-height: 133px;
  }
  .footer > .container > .row > .footer_menu > .blockright > a {
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 15px;
    color: #fff;
  }
  .midsecond {
    margin-top: 23px;
    margin-bottom: 23px;
  }
  .secondtext {
    margin-top: 23px;
    margin-bottom: 23px;
  }
  .thirdtext {
    margin-bottom: 23px;
  }
  .download_menu {
    display: flex;
    flex-direction: row;
    margin-left: auto;
    margin-right: auto;
  }
  .apple {
    margin-left: 0;
    margin-top: 20px;
    margin-bottom: 11px;
  }
  .google {
    margin-left: 24.4px;
    margin-top: 20px;
    margin-bottom: 11px;
  }
  .footer > .container > .row > .download_menu > .apple > a > img {
    width: 108.6px;
    height: 36px;
  }
  .footer > .container > .row > .download_menu > .google > a > img {
    width: 124px;
    height: 36px;
  }
  .bottom {
    display: flex;
    flex-direction: column;
  }
  .left > a,
  .mid > a,
  .right > a {
    font-style: normal;
    font-weight: normal;
    font-size: 11px;
    line-height: 13px;
    color: #fff;
  }
  .left {
    margin-top: 40px;
    margin-bottom: 0px;
    margin-left: 0px;
    max-height: 13px;
  }
  .mid {
    margin-top: 24px;
    margin-bottom: 0px;
    margin-left: 0px;
    max-height: 13px;
  }
  .right {
    margin-top: 24px;
    margin-bottom: 40px;
    margin-left: 0px;
    max-height: 13px;
  }
  .button {
    width: 64px;
    height: 64px;
    position: fixed;
    bottom: 24px;
    right: 26px;
  }
  /*Footer media end*/
}

@media (max-width: 338px) {
  .title {
    width: 22ch;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding-top: 0;
    padding-left: 0;
  }
}
