body {
  font-family: "Roboto", sans-serif;
  /*max-width: 1124px; */
  min-width: 320px;
  margin: 0 auto;
}
/*Header styles start*/
.header {
  background-color: white;
  height: 72px;
  top: 0;
  width: 100%;
  position: fixed;
  z-index: 2;
  box-shadow: 0 0 0.5em 0.5em #f2f2f2;
}
.header > .container {
  height: 100%;
}
.header > .container > .row {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.rightmenu {
  display: flex;
}
.rightmenu > button {
  color: #1d1d1d;
  width: 78px;
  height: 100%;
  font-weight: 500;
  font-size: 13px;
  line-height: 24px;
}
/*Header styles end*/
/*Contentsearcher styles start*/
.content > .container {
  padding: 0;
  margin-top: 72px;
}
.content > .container > .row {
  width: 100%;
  margin: 0;
}
.search {
  width: 100%;
  margin-top: 32px;
  margin-bottom: 56px;
}
.search > input {
  z-index: 1;
  opacity: 0.5;
  padding-top: 24px;
  box-sizing: border-box;
  width: 100%;
  border: none;
  height: 48px;
  box-shadow: 0 1px 0 #838383;
}
.search > input:focus {
  outline: none;
}
/*Contentsearcher styles end*/
/*Contentheader styles start*/
.content_header {
  margin-top: 0;
  font-family: "Roboto", sans-serif;
  font-weight: normal;
  font-size: 22px;
  line-height: 34px;
  margin-bottom: 16px;
}
/*Contentheader styles end*/
/*Contentmenu styles start*/
.container > .menu > .row {
  display: flex;
  flex-direction: row;
}
.name {
  margin-top: 12px;
  margin-bottom: 4px;
}
a:visited,
a:focus,
a {
  text-decoration: none;
  color: #1d1d1d;
  font-size: 16px;
  line-height: 24px;
  font-style: normal;
  font-weight: normal;
}
a:hover {
  color: cornflowerblue;
  transition: 0.6s;
}
.cat {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
  color: #626262;
  margin-bottom: 4px;
}
.time {
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 21px;
  color: #1d1d1d;
  margin-bottom: 20px;
}
/*Contentmenu styles end*/
/*Footer styles start*/
.footer {
  background-color: #262626;
}
hr {
  height: 0.1px;
  background: #ffffff;
  mix-blend-mode: normal;
  opacity: 0.4;
}
.language > select {
  background-color: #3b3b3b;
  border: none;
  border-radius: 2px;
}
span {
  color: #49a144;
  margin-right: 1px;
}
/*Footer styles end*/

/*@MEDIA*/
/*LG pc*/
@media screen and (min-width: 1124px) {
  /*Header media start*/
  .logo {
    margin-left: 81px;
  }
  .login {
    margin-right: 27px;
  }
  .basket {
    margin-right: 97.05px;
  }
  /*Header media end*/
  /*Contentsearcher media start*/
  .search {
    margin-left: 81px;
    margin-right: 81px;
  }
  /*Contentsearcher media end*/
  /*Contentheader media start*/
  .content_header > .container > .title {
    margin-left: 73px;
  }
  /*Contentheader media end*/
  /*Contentmenu media start*/
  .content_menu {
    margin-bottom: 80px;
  }
  .content_menu > .container > .menu > .row > .box > .imgx > img {
    display: block;
    width: 100%;
    height: auto;
  }
  .container > .menu > .row {
    margin-left: 65px;
    margin-right: 71px;
  }
  /*Contentmenu media end*/
  /*Footer media start*/
  .footer > .container > .row > .logo {
    margin-left: 81.62px;
    margin-top: 56px;
    margin-bottom: 40.31px;
  }
  hr {
    width: 100%;
    margin-left: 81px;
    margin-right: 87px;
  }
  footer > .container > .row {
    display: flex;
  }
  .language {
    margin-top: 32px;
    margin-bottom: 33px;
  }
  select {
    width: 227px;
    height: 40px;
    font-size: 13px;
    line-height: 15px;
    color: #fff;
    padding: 12px 108px 12px 48px;
    background: url("/images/world.svg") no-repeat;
    background-position-x: 16px;
    background-position-y: center;
  }
  .footer > .container > .row > .footer_menu > .blockleft > a {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    color: #fff;
  }
  .blockleft {
    width: 227px;
    margin-left: 73px;
  }
  .social_menu {
    margin-top: 17px;
    margin-bottom: 14px;
  }
  .facebook,
  .twitter,
  .instagram {
    width: 24px;
    height: 24px;
  }
  .twitter {
    margin-left: 12px;
    margin-right: 8px;
  }
  .footer_menu {
    display: flex;
    flex-direction: row;
  }
  .blockmid {
    display: flex;
    flex-direction: column;
    margin-left: 73px;
    margin-top: 39px;
  }
  .footer > .container > .row > .footer_menu > .blockmid > a {
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 15px;
    color: #fff;
  }
  .blockright {
    display: flex;
    flex-direction: column;
    margin-left: 81px;
    margin-top: 39px;
    margin-bottom: 48px;
  }
  .footer > .container > .row > .footer_menu > .blockright > a {
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 15px;
    color: #fff;
  }
  .midsecond {
    margin-top: 23px;
    margin-bottom: 23px;
  }
  .secondtext {
    margin-top: 23px;
    margin-bottom: 23px;
  }
  .thirdtext {
    margin-bottom: 23px;
  }
  .download_menu {
    display: flex;
    flex-direction: row;
    margin-left: auto;
    margin-right: auto;
  }
  .apple {
    margin-left: 0;
    margin-top: 40px;
    margin-bottom: 34px;
  }
  .google {
    margin-left: 40.34px;
    margin-top: 41px;
    margin-bottom: 34px;
  }
  .bottom {
    display: flex;
    flex-direction: row;
  }
  .left {
    margin-left: 73px;
  }
  .mid {
    margin-left: 94px;
    margin-right: 64px;
  }
  .left > a,
  .mid > a,
  .right > a {
    font-style: normal;
    font-weight: normal;
    font-size: 11px;
    line-height: 13px;
    color: #fff;
  }
  .left,
  .mid,
  .right {
    margin-top: 40px;
    margin-bottom: 40px;
  }
  .button {
    width: 80px;
    height: 80px;
    position: fixed;
    bottom: 24px;
    right: 16px;
  }
  /*Footer media end*/
}

/*MD tablet*/
@media (max-width: 1123px) {
  /*Header media start*/
  .logo {
    margin-left: 8px;
  }
  .login {
    margin-right: 27px;
  }
  .basket {
    margin-right: 16px;
  }
  /*Header media end*/
  /*Contentsearcher media start*/
  .search {
    margin-left: 8px;
    margin-right: 4px;
  }
  /*Contentsearcher media end*/
  /*Contentmenu media start*/
  .container > .menu > .row {
    width: 100%;
    margin-right: auto;
    margin-left: auto;
  }
  .content_menu {
    margin-bottom: 48px;
  }
  .content_menu > .container {
    padding-left: 0;
    padding-right: 0;
  }
  .content_menu > .container > .menu > .row > .box > .imgx > img {
    display: block;
    width: 100%;
    height: auto;
  }
  /*Contentmenu media end*/
  /*Footer media start*/
  footer {
    width: 100%;
  }
  .footer > .container > .row > .logo {
    margin-left: 8px;
    margin-top: 56px;
    margin-bottom: 40px;
  }
  hr {
    width: 100%;
    margin-left: 8px;
    margin-right: 8px;
  }
  footer > .container > .row {
    display: flex;
  }
  .language {
    margin-top: 32px;
    margin-bottom: 32px;
  }
  select {
    width: 176px;
    height: 40px;
    font-size: 13px;
    line-height: 15px;
    color: #fff;
    padding: 12px 0px 12px 48px;
    background: url("/images/world.svg") no-repeat;
    background-position-x: 16px;
    background-position-y: center;
  }
  .footer > .container > .row > .footer_menu > .blockleft > a {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    color: #fff;
  }
  .social_menu {
    margin-top: 16px;
  }
  .facebook,
  .twitter,
  .instagram {
    width: 24px;
    height: 24px;
  }
  .twitter {
    margin-left: 12px;
    margin-right: 12px;
  }
  .footer_menu {
    display: flex;
    flex-direction: row;
  }
  .blockmid {
    display: flex;
    flex-direction: column;
    margin-left: 53px;
    margin-top: 39px;
  }
  .footer > .container > .row > .footer_menu > .blockmid > a {
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 15px;
    color: #fff;
  }
  .blockright {
    display: flex;
    flex-direction: column;
    margin-left: 51px;
    margin-top: 39px;
    margin-bottom: 48px;
  }
  .footer > .container > .row > .footer_menu > .blockright > a {
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 15px;
    color: #fff;
  }
  .midsecond {
    margin-top: 23px;
    margin-bottom: 23px;
  }
  .secondtext {
    margin-top: 23px;
    margin-bottom: 23px;
  }
  .thirdtext {
    margin-bottom: 23px;
  }
  .download_menu {
    display: flex;
    flex-direction: row;
    margin-left: auto;
    margin-right: auto;
  }
  .apple {
    margin-left: 0;
    margin-top: 40px;
    margin-bottom: 40px;
  }
  .google {
    margin-left: 39.73px;
    margin-top: 40px;
    margin-bottom: 40px;
  }
  .bottom {
    display: flex;
    flex-direction: row;
  }
  .left {
    margin-left: 8px;
  }
  .mid {
    margin-left: 30px;
    margin-right: 57px;
  }
  .left > a,
  .mid > a,
  .right > a {
    font-style: normal;
    font-weight: normal;
    font-size: 11px;
    line-height: 13px;
    color: #fff;
  }
  .left,
  .mid,
  .right {
    margin-top: 40px;
    margin-bottom: 40px;
  }
  .button {
    width: 80px;
    height: 80px;
    position: fixed;
    bottom: 28px;
    right: 16px;
  }
  /*Footer media end*/
}

/*XS mobile*/
@media (max-width: 767px) {
  .header {
    width: 100%;
  }
  /*Header media start*/
  .rightmenu > a {
    display: none;
  }
  .logo {
    margin-left: 8px;
  }
  .login {
    margin-right: 16px;
  }
  /*Header media end*/
  /*Contentheader media start*/
  .content_header {
    width: 100%;
  }
  .content_header > .container {
    padding-left: 0px;
    padding-right: 0px;
  }
  .title {
    margin-left: 8px;
  }
  /*Contentheader media end*/
  /*Contentmenu media start*/
  .container > .menu > .row {
    margin-left: 0px;
    margin-right: -4px;
  }
  .content_menu > .container > .menu > .row > .box > .imgx > img {
    display: block;
    width: 100%;
    height: auto;
  }
  /*Contentmenu media end*/
  /*Footer media start*/
  .footer > .container > .row > .logo {
    margin-left: 8px;
    margin-top: 56px;
    margin-bottom: 31px;
  }
  hr {
    width: 100%;
    margin-left: 8px;
    margin-right: 8px;
  }
  footer > .container > .row {
    display: flex;
  }
  .language {
    margin-top: 32px;
    margin-bottom: 32px;
  }
  select {
    width: 176px;
    height: 40px;
    font-size: 13px;
    line-height: 15px;
    color: #fff;
    padding: 12px 0px 12px 48px;
    background: url("/images/world.svg") no-repeat;
    background-position-x: 16px;
    background-position-y: center;
  }
  .footer > .container > .row > .footer_menu > .blockleft > a {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    color: #fff;
  }
  .social_menu {
    margin-top: 16px;
  }
  .facebook,
  .twitter,
  .instagram {
    width: 24px;
    height: 24px;
  }
  .twitter {
    margin-left: 12px;
    margin-right: 12px;
  }
  .footer_menu {
    display: flex;
    flex-direction: column;
  }
  .blockmid {
    display: flex;
    flex-direction: column;
    margin-left: 0px;
    margin-top: 39px;
    max-height: 94px;
  }
  .blockleft {
    max-height: 170px;
  }
  .footer > .container > .row > .footer_menu > .blockmid > a {
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 15px;
    color: #fff;
  }
  .blockright {
    display: flex;
    flex-direction: column;
    margin-left: 0px;
    margin-top: 23px;
    margin-bottom: 40px;
    max-height: 133px;
  }
  .footer > .container > .row > .footer_menu > .blockright > a {
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 15px;
    color: #fff;
  }
  .midsecond {
    margin-top: 23px;
    margin-bottom: 23px;
  }
  .secondtext {
    margin-top: 23px;
    margin-bottom: 23px;
  }
  .thirdtext {
    margin-bottom: 23px;
  }
  .download_menu {
    display: flex;
    flex-direction: row;
    margin-left: auto;
    margin-right: auto;
  }
  .apple {
    margin-left: 0;
    margin-top: 20px;
    margin-bottom: 11px;
  }
  .google {
    margin-left: 24.4px;
    margin-top: 20px;
    margin-bottom: 11px;
  }
  .footer > .container > .row > .download_menu > .apple > a > img {
    width: 108.6px;
    height: 36px;
  }
  .footer > .container > .row > .download_menu > .google > a > img {
    width: 124px;
    height: 36px;
  }
  .bottom {
    display: flex;
    flex-direction: column;
  }
  .left > a,
  .mid > a,
  .right > a {
    font-style: normal;
    font-weight: normal;
    font-size: 11px;
    line-height: 13px;
    color: #fff;
  }
  .left {
    margin-top: 40px;
    margin-bottom: 0px;
    margin-left: 0px;
    max-height: 13px;
  }
  .mid {
    margin-top: 24px;
    margin-bottom: 0px;
    margin-left: 0px;
    max-height: 13px;
  }
  .right {
    margin-top: 24px;
    margin-bottom: 40px;
    margin-left: 0px;
    max-height: 13px;
  }
  .button {
    width: 64px;
    height: 64px;
    position: fixed;
    bottom: 24px;
    right: 26px;
  }
  /*Footer media end*/
}
